
 
  body {
    background: #45965d;
    /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #FFFFFF, #6bcf95);
    /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #FFFFFF, #6fc28f);
    /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  }
